:root {
    --color-onyx: #343a40;
    --color-dark-onyx: #212529;
    --color-grey: #888;
    --color-light-grey: #ccc;
    --color-blue: #4682dd;
    --color-dark-blue: #2222dd;
    --color-white: #fff;
    --color-red: red;
    --color-green: green;

    --font-serif: "charter";
    --font-mono: "fira";
    --font-sans: "dejavu sans";
    --font-text-size: 1.4rem;
    --font-text-size-mobile: 1rem;
    --font-menu-size: 1.6rem;
}

@font-face {
    font-family: "fira";
    src: url('../fonts/FiraCode-Regular.woff') format('woff');
}

@font-face {
    font-family: "charter";
    src: url("../fonts/charter_regular.woff") format('woff');
}

@font-face {
    font-family: "charter";
    src: url("../fonts/charter_bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "charter";
    src: url("../fonts/charter_bold_italic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "charter";
    src: url("../fonts/charter_italic.woff") format('woff');
    font-style: italic;
}

@font-face {
    font-family: "dejavu-sans";
    src: url("../fonts/DejaVuSans.woff") format('woff');
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: charter, serif;
    color: var(--color-dark-onyx);
}

#top {
    text-align: right;
    padding-right: calc((100% - 768px)/2);
    background-color: var(--color-dark-onyx);
    margin: 0;
}

header {
    margin-bottom: 3rem;
}

.title {
    text-align: center;
    margin-bottom: 0;
}

.subtitle {
    font-size: 1.2rem;
}

.horizontal-menu {
    min-width: 768px;
    list-style: none;
    margin: 0;
    font-family: fira;
    font-size: var(--font-menu-size);
    padding: 0.7rem 0;
}

.horizontal-menu > ul {
    margin: 0;
}

.horizontal-menu > ul > li {
    display: inline;
    margin: 0 0 0 1em;
}

.horizontal-menu a {
    color: var(--color-light-grey);
    text-decoration: none;
}

.horizontal-menu a:hover {
    color: var(--color-blue);
    text-decoration-line: underline;
}

#content {
    width: 768px;
    margin: 0 auto 10rem;
}

#content {
    text-align: justify;
    font-size: var(--font-text-size);
    word-wrap: break-word;
}

#content::after {
    content: "§";
    position: relative;
    left: 50%;
    top: 4.5rem;
    font-size: 3rem;
}

li.on, li.trans, li.off {
    list-style: none;
}

span.done, span.todo {
    color: var(--color-white);
    padding: .1em 0.3em;
    border-radius: 3px;
    background-clip: padding-box;
    line-height: 1;
}

span.done {
    background-color: var(--color-green);
}

span.todo {
    background-color: var(--color-red);
}

a {
    color: var(--color-blue);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    cursor: pointer;
}

h2:hover::after, h3:hover::after, h4:hover::after, h5:hover::after, h6:hover::after {
    content: "¶";
    margin-left: 0.5rem;
}

span.section-number-1, span.section-number-2, span.section-number-3, span.section-number-4, span.section-number-5, span.section-number-6 {
    position: absolute;
    right: calc((100% - 768px) / 2);
    color: #ccc;
}

div.theorem > p::before {
    content: "Theorem:";
    font-weight: bold;
}

div.lemma > p::before {
    content: "Lemma:";
    font-weight: bold;
}

div.proposition > p::before {
    content: "Proposition:";
    font-weight: bold;
}

div.definition > p::before {
    content: "Definition:";
    font-weight: bold;
}

div.proof > p::before {
    content: "Proof:";
    font-weight: bold;
}

div.proof > p::after {
    font-weight: bold;
    content: "□";
    position: absolute;
    right: calc((100% - 768px) / 2);
}

pre.example {
    margin: 1rem 0 0 0;
    padding: 0 1rem;
    border-left: 0.2rem dashed #ccc;
    overflow-x: scroll;
}

pre.example::-webkit-scrollbar {
    display: hidden;
    height: 0;
}

pre {
    font-family: var(--font-mono);
    font-size: 1.1rem;
}

code {
    font-family: var(--font-mono);
    font-variant-ligatures: none;
}

figure > img {
    display: block !important;
    margin: 1rem auto;
    max-width: 100%;
}

figure > figcaption {
    text-align: center;
}

.verse, .note, .warning {
    margin: 1rem 0 1rem 1rem;
    padding: 0 1rem;
    color: inherit;
}

.note {
    border-left: 0.2rem solid var(--color-light-grey);
}

.warning {
    border-left: 0.2rem solid var(--color-red);
}

.verse {
    border-left: 0.2rem dashed var(--color-light-grey);
}

blockquote::before {
    content: "“";
    position: absolute;
    margin-left: -1rem;
}

blockquote p::after {
    content: "”";
}

video {
    display: block;
    width: 100%;
    margin: 0 auto;
}

audio {
    display: block;
    width: 100%;
    margin: 0 auto;
}

table {
    margin: 1em auto;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-collapse: collapse;
}

thead {
    border-bottom: 2px solid;
}

table td + td, table th + th {
    border-left: 1px solid var(--color-dark-onyx);
}

table tr {
    border-top: 1px solid var(--color-onyx);
}

td,th {
    padding: 0.3em 0.6em;
    vertical-align: middle;
}

caption.t-bottom {
    margin-top: 1rem;
}

.MathJax:focus, .mjx-chtml:focus, .MathJax_SVG:focus {
    outline-color: var(--color-dark-onyx);
    outline-style: dotted;
    outline-width: 1px;
}

.MathJax, .mjx-chtml, .MathJax_SVG {
    color: var(--color-dark-onyx);
    font-size: 2rem;
}
    
.youtube-wrapper {
    padding-bottom: 56.25%;
    position: relative;
    width: 100%
}

.youtube-wrapper > iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

html, body {
    height: 100%;
    display:flex; 
    flex-direction:column;
}

#postamble {
    margin-top: auto;
    font-size: 1rem;
    font-family: dejavu-sans;
    text-align: justify;
}

#footer-pre > nav, #footer-post > nav{
    max-width: 768px;
    margin: 0 auto;
    overflow-x: hidden;
}

#footer-pre, #footer-post {
    padding: 1rem;
}

#footer-pre {
    background-color: var(--color-onyx);
    color: var(--color-light-grey);
}

#footer-pre a {
    text-decoration: none;
    color: var(--color-white);
}

#footer-pre a:hover {
    color: var(--color-blue);
}

#footer-post {
    background-color: var(--color-dark-onyx);
    color: var(--color-grey);
    height: 1rem;
}

#left, #right {
    display: inline;
    position: absolute;
}

#left {
    left: calc((100% - 768px)/2);
}

#right {
    right: calc((100% - 768px)/2);
}

#footer-post a {
    text-decoration: none;
    color: var(--color-light-grey);
}

#footer-post a:hover {
    color: var(--color-blue);
}

#footer-pre > nav > pre {
    border: 0;
    margin: 0.6rem 0.8rem;
    font-family: var(--font-mono);
    font-size: 1rem;
}

#vertical-menu {
    display: none;
    font-family: var(--font-mono);
}

#vertical-menu > ul {
    list-style-type: none;
    padding: 0;
    margin: 1rem auto;
}

#vertical-menu > ul > li {
    display: inline;
    margin: 0 1rem 0 0;
}

#postamble hr {
    border: 0;
    border-top: 1px solid var(--color-dark-onyx);
}

#toggle-darkmode {
    position: absolute;
    right: calc((100% - 768px)/2);
    background-color: transparent;
    border: 0;
    color: var(--color-light-grey);
}

#toggle-darkmode:hover {
    cursor: pointer;
    color: var(--color-blue);
}



@media only screen and (max-width: 768px) {
    #top {
	display: none;
    }
    
    #content {
	width: calc(100% - 2rem);
    }

    #footer-pre, #footer-post {
	padding: 1rem;
    }

    #vertical-menu {
	display: initial;
    }

    #content {
	font-size: 1.1rem;
    }
    
    #footer-post {
	height: 2rem;
    }
    
    #left, #right {
	position: initial;
	display: block;
    }

    #toggle-darkmode {
	right: 1rem;
    }
    span.section-number-1, span.section-number-2, span.section-number-3, span.section-number-4, span.section-number-5, span.section-number-6 {
	right: 1rem;
    }

    div.proof > p::after {
	right: 1rem;
    }
}


/* Dark mode styles */

body.darkmode {
    background-color: #000;
    color: var(--color-light-grey);
}

h1.darkmode, h2.darkmode {
    color: var(--color-light-grey);
}

.body.darkmode MathJax:focus, body.darkmode .mjx-chtml:focus, body.darkmode .MathJax_SVG:focus {
    outline-color: var(--color-light-grey);
}

body.darkmode .MathJax, body.darkmode .mjx-chtml, body.darkmode .MathJax_SVG {
    color: var(--color-light-grey);
}

pre.src.darkmode:before {
    background-color: var(--color-dark-onyx);
}
