:root {
    --color-onyx: #343a40;
    --color-dark-onyx: #212529;
    --color-grey: #888;
    --color-light-grey: #ccc;
    --color-blue: #4682dd;
    --color-dark-blue: #2222dd;
    --color-white: #fff;
}

@font-face {
    font-family: "fira";
    src: url('../fonts/FiraCode-Regular.woff') format('woff');
}

@font-face {
    font-family: "charter";
    src: url("../fonts/charter_regular.woff") format('woff');
}

@font-face {
    font-family: "charter";
    src: url("../fonts/charter_bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "charter";
    src: url("../fonts/charter_bold_italic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "charter";
    src: url("../fonts/charter_italic.woff") format('woff');
    font-style: italic;
}
@font-face {
    font-family: "dejavu";
    src: url("../fonts/DejaVuSerif.woff") format('woff');
}

@font-face {
    font-family: "dejavu";
    src: url("../fonts/DejaVuSerif-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "dejavu";
    src: url("../fonts/DejaVuSerif-BoldItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "dejavu";
    src: url("../fonts/DejaVuSerif-Italic.woff") format('woff');
    font-style: italic;
}

@font-face {
    font-family: "dejavu";
    src: url("../fonts/DejaVuSerif-Italic.woff") format('woff');
    font-style: italic;
}

@font-face {
    font-family: "dejavu-sans";
    src: url("../fonts/DejaVuSans.woff") format('woff');
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: charter, serif;
    color: var(--color-dark-onyx);
}

#top {
    text-align: right;
    padding-right: calc((100% - 768px)/2);
    background-color: var(--color-dark-onyx);
    margin: 0 0 3rem;
}

.title {
    text-align: left;
    margin-bottom: 1.5em;
}

.horizontal-menu {
    min-width: 768px;
    list-style: none;
    margin: 0;
    font-family: fira;
    font-size: 1.6rem;
    padding: 0.7rem 0;
}

.horizontal-menu > ul {
    margin: 0;
}

.horizontal-menu > ul > li {
    display: inline;
    margin: 0 0 0 1em;
}

.horizontal-menu a {
    color: var(--color-light-grey);
    text-decoration: none;
}

.horizontal-menu a:hover {
    color: var(--color-blue);
    text-decoration-line: underline;
}

#content {
    width: 768px;
    margin: 0 auto 5rem;
}

p, ul.org-ul, ol.org-ol, table {
    text-align: justify;
    font-size: 1.4rem;
    word-wrap: break-word;
}

li.on, li.trans, li.off {
    list-style: none;
}

a {
    color: var(--color-blue);
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--color-dark-blue);
}

pre {
    font-family: fira;
}

figure > img {
    display: block !important;
    margin: 1rem auto;
    max-width: 100%;
}

figure > figcaption {
    text-align: center;
}

.note, .warning {
    marign: 1rem 0;
    padding: 0 1rem;
    color: inherit;
}

.note {
    border: 1px solid var(--color-light-grey);
}

.warning {
    border: 1px solid #f44;
}

video {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

audio {
    display: block;
    width: 100%;
    margin: 0 auto;
}

table {
    margin: 0 auto;
}

caption.t-bottom {
    margin-top: 1rem;
}

.MathJax:focus, .mjx-chtml:focus, .MathJax_SVG:focus {
    outline-color: var(--color-dark-onyx);
    outline-style: dotted;
    outline-width: 1px;
}

.MathJax, .mjx-chtml, .MathJax_SVG {
    color: var(--color-dark-onyx);
}
    
.youtube-wrapper {
    padding-bottom: 56.25%;
    position: relative;
    width: 100%
}

.youtube-wrapper > iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

html, body {
    height: 100%;
    display:flex; 
    flex-direction:column;
}

#postamble {
    margin-top: auto;
    font-size: 1rem;
    font-family: dejavu-sans;
    text-align: justify;
}

#footer-pre > nav, #footer-post > nav{
    max-width: 768px;
    margin: 0 auto;
}

#footer-pre, #footer-post {
    padding: 1rem;
}

#footer-pre {
    background-color: var(--color-onyx);
    color: var(--color-light-grey);
}

#footer-pre a {
    text-decoration: none;
    color: var(--color-white);
}

#footer-pre a:hover {
    color: var(--color-blue);
}

#footer-post {
    background-color: var(--color-dark-onyx);
    color: var(--color-grey);
    height: 1rem;
}

#left, #right {
    display: inline;
    position: absolute;
}

#left {
    left: calc((100% - 768px)/2);
}

#right {
    right: calc((100% - 768px)/2);
}

#footer-post a {
    text-decoration: none;
    color: var(--color-light-grey);
}

#footer-post a:hover {
    color: var(--color-blue);
}

#footer-pre > nav > pre {
    border: 0;
    margin: 0;
    font-family: fira;
    font-size: 1rem;
}

#vertical-menu {
    display: none;
    font-family: fira;
}

#vertical-menu > ul {
    list-style-type: none;
    padding: 0;
    margin: 1rem auto;
}

#vertical-menu > ul > li {
    display: inline;
    margin: 0 1rem 0 0;
}

#postamble hr {
    border: 0;
    border-top: 1px solid var(--color-dark-onyx);
}

#toggle-darkmode {
    position: absolute;
    right: calc((100% - 768px)/2);
    background-color: transparent;
    border: 0;
    color: var(--color-light-grey);
}

#toggle-darkmode:hover {
    cursor: pointer;
    color: var(--color-blue);
}



@media only screen and (max-width: 768px) {
    #top {
	display: none;
    }
    
    #content {
	width: calc(100% - 2rem);
    }

    #footer-pre, #footer-post {
	padding: 1rem;
    }

    #vertical-menu {
	display: initial;
    }

    p, li {
	font-size: 1.1rem;
    }
    
    #footer-post {
	height: 2rem;
    }
    
    #left, #right {
	position: initial;
	display: block;
    }

    #toggle-darkmode {
	right: 1rem;
    }
}


/* Dark mode styles */

body.darkmode {
    background-color: #000;
    color: var(--color-light-grey);
}

.body.darkmode MathJax:focus, body.darkmode .mjx-chtml:focus, body.darkmode .MathJax_SVG:focus {
    outline-color: var(--color-light-grey);
}

body.darkmode .MathJax, body.darkmode .mjx-chtml, body.darkmode .MathJax_SVG {
    color: var(--color-light-grey);
}
