    <link rel="stylesheet" href="{{ "/css/normalize.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/skeleton.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />


<!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">


<link rel="stylesheet" href="{{ "/css/atom-one-dark.css" | relURL }}" />-->



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gist-embed/2.7.1/gist-embed.min.js"></script>
<link rel="stylesheet" href="{{ "/css/chaos.css" | relURL }}" />
